<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>filter</h1>
        <h1>{{DTO}}</h1>
        <h1>{{DTO|upper}}</h1>
        <h1>{{DTO|lower}}</h1>
        <h1>{{DTO|capfirst}}</h1>
        <h1>{{DTO|title}}</h1>
        <h1>{{DTO|length}}</h1>
        <h1>{{DTO|truncatechars:10}}</h1>
        <h1>{{DTO|truncatewords:2}}</h1>
        <h1>{{DTO|slice:9}}</h1>
        <h1>{{dt|date}}</h1>
        <h1>{{dt|time}}</h1>
        <h1>{{dt|date:'Y'}}</h1>
        <h1>{{dt|date:'A'}}</h1>
        <h1>{{dt|date:'d'}}</h1>
        <h1>{{dt|date:'i'}}</h1>
        <h1>{{dt|date:'D'}}</h1>
        <h1>{{dt|date:'y'}}</h1>
        
        <h1>{{dt|date:'Y A d'}}</h1>
        <h1>i have {{c}} chocolate{{c|pluralize}}</h1>
        <h1>i have {{c}} mango{{c|pluralize:'es'}}</h1>
        <h1>{{c|pluralize:'this,these'}} {{c|pluralize:'is,are'}} {{c}} mango{{c|pluralize:'es'}}</h1>
    </center>
</body>
</html>